USE [master]
GO
/****** Object:  Database [ThesisManage]    Script Date: 2016/5/31 11:56:07 ******/
CREATE DATABASE [ThesisManage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThesisManage_data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ThesisManage.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ThesisManage_data_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ThesisManage_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThesisManage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThesisManage]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2016/5/31 11:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AID] [int] IDENTITY(1,1) NOT NULL,
	[ARID] [int] NOT NULL,
	[LoginID] [nvarchar](50) NOT NULL,
	[LoginPass] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 2016/5/31 11:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[SRID] [int] NOT NULL,
	[StudentID] [nvarchar](50) NOT NULL,
	[StudentPass] [nvarchar](50) NOT NULL,
	[StudentName] [nvarchar](50) NOT NULL,
	[StudentClass] [nvarchar](50) NOT NULL,
	[StudentPhone] [nvarchar](50) NULL,
	[StudentMail] [nvarchar](50) NULL,
	[StudentAddress] [nvarchar](255) NULL,
	[SudentState] [int] NULL,
	[STitleID] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 2016/5/31 11:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TEID] [int] IDENTITY(1,1) NOT NULL,
	[TRID] [int] NOT NULL,
	[TeacherID] [nvarchar](50) NOT NULL,
	[TeacherPass] [nvarchar](50) NOT NULL,
	[TeacherName] [nvarchar](50) NOT NULL,
	[TeacherPhone] [nvarchar](50) NULL,
	[TeacherMail] [nvarchar](50) NULL,
	[TeacherAddress] [nvarchar](255) NULL,
	[TeacherState] [int] NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[TEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thesis]    Script Date: 2016/5/31 11:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thesis](
	[ThesisID] [int] IDENTITY(1,1) NOT NULL,
	[TitleID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[Contents] [image] NOT NULL,
	[PublishDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Thesis] PRIMARY KEY CLUSTERED 
(
	[ThesisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Title]    Script Date: 2016/5/31 11:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Title](
	[TitleID] [int] IDENTITY(1,1) NOT NULL,
	[TitleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Counts] [int] NOT NULL,
	[HasChooseNum] [int] NOT NULL,
	[State] [int] NOT NULL,
	[TeacherID] [int] NULL,
	[StudentID] [int] NULL,
 CONSTRAINT [PK_Title] PRIMARY KEY CLUSTERED 
(
	[TitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 2016/5/31 11:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserRole](
	[UID] [int] IDENTITY(0,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
