USE [master]
GO
/****** Object:  Database [THESISMANAGE_DATA]    Script Date: 2016/1/4 13:56:56 ******/
CREATE DATABASE [THESISMANAGE_DATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThesisManage_data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ThesisManage_data.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ThesisManage_data_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ThesisManage_data_log.ldf' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THESISMANAGE_DATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THESISMANAGE_DATA]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2016/1/4 13:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[AID] [int] IDENTITY(1,1) NOT NULL,
	[ARID] [int] NOT NULL,
	[LoginId] [varchar](8) NOT NULL,
	[LoginPass] [varchar](10) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 2016/1/4 13:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Messages](
	[MID] [int] IDENTITY(1,1) NOT NULL,
	[MTeacherId] [int] NULL,
	[MStudentId] [int] NULL,
	[Contents] [text] NOT NULL,
	[MPubDate] [datetime] NOT NULL,
	[State] [smallint] NOT NULL,
	[senderId] [int] NOT NULL,
	[senderRole] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReMesssage]    Script Date: 2016/1/4 13:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReMesssage](
	[REID] [int] IDENTITY(1,1) NOT NULL,
	[MID] [int] NULL,
	[RTeacherId] [int] NULL,
	[RStudent] [int] NULL,
	[counts] [varchar](50) NOT NULL,
	[RPubDate] [datetime] NOT NULL,
	[state] [int] NOT NULL,
	[sender] [varchar](50) NOT NULL,
	[sendRoleId] [int] NOT NULL,
 CONSTRAINT [PK_ReMesssage] PRIMARY KEY CLUSTERED 
(
	[REID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2016/1/4 13:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[SRID] [int] NOT NULL,
	[STitleID] [int] NULL,
	[StudentName] [varchar](10) NOT NULL,
	[StudentPass] [varchar](10) NOT NULL,
	[StudentID] [varchar](10) NOT NULL,
	[StudentClass] [varchar](20) NOT NULL,
	[StudentAddress] [varchar](40) NULL,
	[StudentPhone] [varchar](20) NULL,
	[StudentMail] [varchar](20) NULL,
	[SudentState] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 2016/1/4 13:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teacher](
	[TEID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [varchar](10) NOT NULL,
	[TeacherPass] [varchar](10) NOT NULL,
	[TRID] [int] NOT NULL,
	[TeacherName] [varchar](10) NULL,
	[TeacherAddress] [varchar](40) NULL,
	[TeacherPhone] [varchar](20) NULL,
	[TeacherMail] [varchar](20) NULL,
	[TeacherState] [int] NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[TEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Thesis]    Script Date: 2016/1/4 13:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thesis](
	[ThesisID] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[TitleId] [int] NOT NULL,
	[PublishDate] [datetime] NOT NULL,
	[Contents] [image] NOT NULL,
 CONSTRAINT [PK_Thesis] PRIMARY KEY CLUSTERED 
(
	[ThesisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Times]    Script Date: 2016/1/4 13:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Times](
	[TimeID] [int] IDENTITY(1,1) NOT NULL,
	[PubDate] [datetime] NULL,
 CONSTRAINT [PK_Times] PRIMARY KEY CLUSTERED 
(
	[TimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Title]    Script Date: 2016/1/4 13:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Title](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NULL,
	[TitleName] [varchar](30) NOT NULL,
	[Counts] [int] NOT NULL,
	[State] [int] NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[HasChooseNum] [int] NOT NULL,
	[StudentId] [int] NULL,
 CONSTRAINT [PK_Title] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 2016/1/4 13:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserRole](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](10) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
