body {
    background-color: azure;
}

#head {
    font-size: 100px;
    padding: 50px 265px;
}

body, #head, #part {
    border: 5px groove White;
}

.login {
    padding: 20px 550px;
}

#btn {
    padding: 20px 600px;
}
